html,body {
    height: 100%;
    background-color: #1e1e1e;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info {
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 15px;
    width: 260px;
}

.cover {
    border-radius: 32px;
    width: 350px;
    height: 350px;
}

span {
    font-family: Inter;
}

.track {
    font-size: 32px;
    color: #d9d9d9;
    user-select: text;
}

.artist {
    font-size: 20px;
    color: #b1b1b1;
    user-select: text;
}

.progressbar {
    padding-top: 168px;
    height: 2px;
    position: relative;
}

.progressbar-span {
    height: 2px;
    display: block;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
}

.progressbar-span-full{
    z-index: 1;
}

.progressbar-dot {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    bottom: 10px;
}

.controls {
    position: relative;
    padding-top: 13px;
}

button {
    margin-right: 16px;
    background: none;
    border: none;
}

button:hover > svg{
    stroke: #ffffff;
}

button:active > svg{
    stroke: #e2e2e2;
    stroke-width: 2.5px;
}

button:focus-visible {
    outline: none;
    border: none;
}